.form-control {
  min-width: 250px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.register {
  text-align: center;
}

.mat-spinner {
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  margin-left: 10px;

  svg {
    width: 20px !important;
    height: 20px !important;
  }
}
