.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2*70px);
}

.conversation-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.conversation {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.empty-conversation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.conversation-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.conversation-history {
  flex: 1;
}

.conversation-history.mat-list {
  max-height: 650px;
  width: 100%;
  overflow: hidden auto;
  padding-right: 15px;
  padding-bottom: 10px;
}

.conversation-history.mat-list p {
  margin: 0;
}

.conversations .mat-list-item {
  cursor: pointer;
}

.mat-card {
  height: 100%;
  padding: 0 24px;
}

.conversation-input {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: #fafafa;
  overflow: hidden;
}

section .mat-list .mat-list-avatar {
  width: 25px;
  height: 25px;
}

.mat-list-avatar {
  margin: 0 5px;
}

.right {
  text-align: right;
}

.full-width {
  width: calc(100% - 90px);
}

.full-width .mat-icon {
  cursor: pointer;
}

.text-center {
  text-align: center;
  width: 100%;
}
