.conversation-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.conversation-history {
  flex: 1;
}

.conversation-history.mat-list {
  max-height: 650px;
  width: 100%;
  overflow: hidden auto;
  padding-right: 15px;
  padding-bottom: 10px;
}

.conversation-history.mat-list p {
  margin: 0;
}
